:root {
  /* Most important */
  --white: #fff;
  --black: #000;
  --blue-primary: #0b5fff;
  --cyan-default: #2eb7ff;
  --indigo-d2: #0011a8;
  --indigo-d4: #000742;
  --indigo-d5: #000728;
  --secundary-default: #6b6c7e;
  --dark-default: #272833;


  
  --blue-l4: #d6e4ff;
  --blue-l3: #a3c3ff;
  --blue-l2: #70a1ff;
  --blue-l1: #3d80ff;
  --blue-d1: #004ad6;
  --blue-d2: #0038a3;
  --blue-d3: #002770;


  --secundary-L5: #d4d4d6;
  --secundary-L4: #d8d8de;
  --secundary-L3: #bdbdc7;
  --secundary-L2: #a1a2af;
  --secundary-L1: #868798;
  --secundary-d1: #545563;
  --secundary-d2: #3d3e48;

  --indigo-L4: #dbdfff;
  --indigo-L3: #a8b1ff;
  --indigo-L2: #7785ff;
  --indigo-L1: #4256ff;
  --indigo-default: #0f28ff;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('/liferay-space/src/assets/Source_Sans_Pro_Full\ Pack/Source_Sans_Pro_Full') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--white);
  -webkit-font-smoothing: antialiased;
}
