:root {
  /* Most important */
  --white: #fff;
  --blue-Primary: #0b5fff;
  --cyan-Default: #2eb7ff;
  --indigo-D2: #0011a8;
  --indigo-D4: #000742;
  --indigo-D5: #000728;
  --secundary-default: #6b6c7e;
  --dark-Default: #272833;


  
  --blue-L4: #d6e4ff;
  --blue-L3: #a3c3ff;
  --blue-L2: #70a1ff;
  --blue-L1: #3d80ff;
  --blue-D1: #004ad6;
  --blue-D2: #0038a3;
  --blue-D3: #002770;


  --secundary-L5: #d4d4d6;
  --secundary-L4: #d8d8de;
  --secundary-L3: #bdbdc7;
  --secundary-L2: #a1a2af;
  --secundary-L1: #868798;
  --secundary-d1: #545563;
  --secundary-d2: #3d3e48;


  --indigo-L4: #dbdfff;
  --indigo-L3: #a8b1ff;
  --indigo-L2: #7785ff;
  --indigo-L1: #4256ff;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--white);
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, button{
  font-family: helvetica;
  font-weight: 400;
  font-size: 1rem;
}
