.firstContent {
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 80px;
  background: linear-gradient(var(--blue-d3),var(--blue-d1), var(--cyan-default), var(--white));
  gap: 40px;
  height: 100vh;
}

.firstContentTextContainer {
  flex: 1;
  margin: 0.5rem;
  max-width: 45rem;
}
.firstContentTextContainer span{
  display: inline-flex;
  color: var(--blue-d1);
  transition: transform 0.1s ease;
  font-size: 1.25rem;
}
.firstContentTextContainer button{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--blue-d1);
  font-weight: bold;
  background-color: var(--white);
  font-size: 1.25rem;
  border-radius: 12px;
  gap: 0 0.8rem;
  height: 3rem;
  width: 17rem;
}
.firstContentTextContainer button:hover{
  outline: 3px solid var(--blue-l3);
  outline-offset: 3px; 
}
.firstContentTextContainer button:hover span{
  transform: translateX(5px);
}


.firstContentTag {
  display: inline-block;
  background-color: var(--blue-l3);
  color: var(--blue-d1);
  padding: 6px 14px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 16px;
}

.firstContentTitle {
  font-size: 4rem;
  font-weight: bold;
  color: var(--white);
  margin-bottom: 1rem;
}

.firstContentDescription {
  font-size: 2rem;
  line-height: 1.6;
  margin: 1rem;
  color: var(--white);
}

.firstContentImagesGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 180px;
  gap: 30px;
  position: relative;
}

.firstContentImageWrapper1 {
  grid-column: 1;
  grid-row: 1;
  transform: translateY(20px);
}

.firstContentImageWrapper2 {
  grid-column: 2;
  grid-row: 1;
  transform: translateY(-10px);
}

.firstContentImageWrapper3 {
  grid-column: 1 / span 2;
  grid-row: 2;
  padding: 10rem;
  transform: translateX(50px);
}

.firstContentImage {
  height: 20rem;
  width: 24rem;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.15);
}