.container {
  max-width: 100rem;
  margin: 0 auto;
  margin-top: 60px;
  padding: 40px 20px;
}

.section {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 85px;
  align-items: center;
}

.textContent {
  flex: 1 1 600px;
  margin-right: 30px;
}

.textContent h2 {
  font-size: 2.75rem;
  margin-bottom: 0.5rem;
  color: var(--blue-d2);
}

.textContent h3 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--blue-d2);
  margin-bottom: 1rem;
}
.textContent h2 span{
  font-size: 3.5rem;
  color: var(--blue-d2);
}
  
.textContent p {
  font-size: 1.35rem;
  margin-bottom: 1rem;
  color: var(--blue-d2);
  line-height: 1.6;
}

.image {
  flex: 1 1 20rem;
  width: 10rem;
  border-radius: 12px;
  gap: 1.5rem;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-weight: bold;
  background-color: var(--blue-primary);
  padding: 0.5rem;
  font-size: 1.25rem;
  border-radius: 12px;
  gap: 0 1rem;
  height: 3.5rem;
  width: 25rem;
}

.button span {
  display: inline-flex;
  color: var(--white);
  transition: transform 0.1s ease;
  font-size: 1.25rem;
}

  
.button:hover {
  outline: 3px solid var(--blue-l1);
  outline-offset: 3px; 
}
.button:hover span{
  transform: translateX(5px);
}