.storySection {
  border-radius: 20px;
  color: white;
  width: 100%;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.storySectionContent {
  display: flex;
  max-width: 100rem;
  width: 100%;
  gap: 40px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.storySectionTextBlock {
  flex: 1 1 400px;
}

.storySectionTitle {
  font-size: 3rem;
  line-height: 1.3;
  margin-bottom: 20px;
  color: var(--blue-d2);
}

.storySectionSimples {
  font-size: 2.4rem;
  color: var(--blue-d2);
}

.storySectionIdeias {
  font-size: 3.1rem;
  color: var(--blue-d2);
}

.storySectionParagraph {
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  margin: 1rem;
  color: var(--blue-d2);
}

.storySectionImageWrapper {
  flex: 1 1 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.storySectionImage {
  width: 42rem;
  border-radius: 16px;
  box-shadow: 12px 12px 30px rgba(0, 0, 0, 0.3);
}