.room{
    justify-items: center;
    position: relative;
    overflow: hidden;
}

.room img {
    height: 17rem;
    width: 35.5rem;
    object-fit: cover;
}

.room span{
    background: transparent;
    color: var(--cyan-default);
    line-height: 0;
}

.room span::before{
    margin: 0 0.25rem;
}

.room p{
    font-weight: bold;
    color: var(--blue);
    text-align: justify;
    width: 25rem;
}




.roomDivSuport {
    border: none;
    width: 25rem;
    margin: 0.5rem 0;
    padding: 0;
    text-align: left;
}



.roomDescription {
    border: none;
    width: 17rem;
    margin: 0.25rem 0;
    padding: 0;
}




.roomDivButtons{
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 25rem;
    border: none;
    margin: 0;
}
.roomDivButtons button:hover{
    outline: 3px solid var(--blue-l2);
    outline-offset: 3px;
}


.roomReserve {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: var(--blue-d1);
    font-weight: bold;
    font-size: 1.25rem;
    height: 1.475rem;
    width: 7rem;
    text-align: center;
    padding: 0;
    gap: 0 0.7rem;
}
.roomReserve span{
  display: inline-flex;
  color: var(--blue-d1);
  transition: transform 0.1s ease;
  font-size: 1.25rem;
}
.roomReserve:hover span{
  transform: translateX(5px);
}


.roomDetails {
    background-color: var(--blue-primary);
    color: var(--white);
    display: inline-flex;
    align-items: center;
    gap: 0 0.5rem;
    height: 1.475rem;
    width: 5.5rem;
    font-size: 0.875rem;
    margin: 0;
    font-weight: bold;
    padding: 0.15rem 0.25rem;
}
.roomDetails span {
    background: transparent;
    color: var(--white);
    line-height: 0;
}

