.subtitle{
    margin-top: 7rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
}

.subtitle h2{
    font-size: 5rem;
    margin-bottom: 1rem;
}

.subtitle p{
    font-weight: bold;
    font-size: 2rem;
}
