*{
    font-family: 'Source Sans Pro';
}
.header{
    margin: 0;
    padding: 0 12rem;
    font-weight: bold;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--white);
    z-index: 999;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
}
.header hr{
    border: none;
    border-top: 1px solid var(--secundary-L5);
}

.upperHeader p, span{
    color: var(--secundary-default);
    margin: 0;
    padding: 0;
    font-size: 1.15rem;
    display: inline-flex;
}

.upperHeader span, button span{
    margin-left: 0.75rem;
}

.upperHeader{
    margin-top: 0.3rem;
    padding-bottom: 0.275rem;
    display: flex;
    justify-content: space-between;
}
.upperHeader > div{
    display: inline-flex;
}

.upperHeader div{
    display: flex;
    align-items: center;
}

.header button{
    font-size: 1.15rem;
    display: inline-flex;
    margin: 0 0.25rem;
    background-color: var(--white);
    border: none;
    cursor: pointer;
    transition: background-color 0.15s ease,  color 0.15s ease;
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    align-self: flex-end;
}

.upperHeader button:hover{
    background-color: var(--blue-l4);
    color: var(--blue-d1);
    outline: 3px solid var(--blue-l2);
    outline-offset: 3px; 
    
}

.lowerHeader{
    margin: 0.5rem 0;
    padding-top: 0.275rem;
    display: flex;
    align-items: flex-end;
}
.lowerHeader button{
    width: 10rem;
    height: 3.25rem;
    margin-left: -0.5rem;
    padding: 0;
    border-radius: 1px;
}
.lowerHeader button:hover{
    background-color: var(--blue-l4);
    color: var(--blue-d1);
    outline: 3px solid var(--blue-l2);
    outline-offset: 3px; 
}
.lowerHeader button img{
    width: 10rem;
    height: 3.25rem;
}
